@import "tailwindcss";

@theme {
  --spacing: 1px;

  --breakpoint-*: initial;

  --breakpoint-xsm: 450px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;

  --font-neue: "NeueHaasGroteskDisp Pro Md","Helvetica Neue",Arial,system-ui,sans-serif;

  --text-h1: clamp(2.25rem, 2.025rem + 1.125vw, 3.375rem);
  --text-h1--line-height: clamp(2.25rem, 2.025rem + 1.125vw, 3.375rem);

  --shadow-1: 0px 3px 6px #00000029;
}

:root {
  --focus-outline-color: currentColor;
  --focus-outline-offset: 0.1rem;
  --focus-outline-style: solid;
  --focus-outline-width: 2px;
}

*:focus-visible {
  outline-color: var(--focus-outline-color);
  outline-offset: var(--focus-outline-offset);
  outline-style: var(--focus-outline-style);
  outline-width: var(--focus-outline-width);
}

@font-face {
    font-family: 'NeueHaasGroteskDisp Pro Md';
    src: url('../fonts/NHaasGroteskDSPro-65Md.woff2') format('woff2'),
        url('../fonts/NHaasGroteskDSPro-65Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@layer{
  body{
    @apply font-neue text-black bg-white
  }

  button{
    @apply cursor-pointer
  }

  .container{
    @apply max-w-full
  }

  a{
    @apply inline-block
  }

  .animated_link{
    @apply relative
  }

  .animated_link::after{
    @apply absolute left-0 bottom-0 w-0 h-[1px] bg-current content-[''] transition-all duration-300
  }

  .animated_link:hover::after,
  .animated_link.active::after{
    @apply w-full
  }

  .tab{
    @apply hidden
  }

  .tab.active{
    @apply block
  }

  .mixed_content *{
    @apply not-italic
  }

  .mixed_content h2{
    @apply text-[26px] leading-[28px] mt-24 mb-4
  }

  .mixed_content h3{
    @apply text-[24px] leading-[26px] mt-22 mb-4
  }

  .mixed_content h4{
    @apply text-[22px] leading-[24px] mt-20 mb-4
  }

  .mixed_content h5{
    @apply text-[20px] leading-[22px] mt-18 mb-4
  }

  .mixed_content h6{
    @apply text-[18px] leading-[20px] mt-16 mb-4
  }

  .mixed_content p{
    @apply mb-16
  }
}